@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Treat

<h2>Add a Flavor</h2><br>
<h3>@Html.DisplayFor(model => model.Name)</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.Label("Choose a flavoe: ")
  @Html.DropDownList("FlavorId")

  <input type="submit" value="Save" class="btn btn-dark"/>
}

<hr />
<div class="link-container">
  <p>@Html.ActionLink("Back to list", "Index")</p>
  <p>@Html.ActionLink("Add New Flavor", "Create", "Flavors")</p>
</div>