@{
    Layout = "_Layout";
}

@model PierresTreats.Models.Treat

<h1>Add a New Treat</h1>

<div class="info-container">
@using (Html.BeginForm())
{
    <span>Name:</span>
    @Html.TextBoxFor(model => model.Name)<br><br>

    @Html.Label("Select a flavor: ")
    @Html.DropDownList("FlavorId")
    
    <input type="submit" value="Add" class="btn btn-info">
}
</div>

<p>@Html.ActionLink("Back to Treat List", "Index")</p>
<p>@Html.ActionLink("Go Home", "Index", "Home")</p>