@{
    Layout = "_Layout";
}

@model PierresTreats.Models.Treat

<h2>Edit</h2><br>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TreatId)
    <span>Name:</span>
    @Html.TextBoxFor(model => model.Name)<br><br>

    @Html.Label("Select a Flavor: ")
    @Html.DropDownList("FlavorId")
    
    <input type="submit" value="Save" class="btn btn-dark">
}

<hr />
<div class="link-container">
    <p>@Html.ActionLink("Back Treat List", "Index")</p>
</div>