@{
  Layout = "_Layout";
}

@using PierresTreats.ViewModels
@model RegisterViewModel

<h2>Register a New User</h2><br>
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
  @Html.Label("Username:")
  @Html.TextBoxFor(user => user.Username)<br>

  @Html.Label("Email:")
  @Html.TextBoxFor(user=> user.Email)<br>

  @Html.Label("Password:")
  @Html.PasswordFor(user=> user.Password)<br>

  @Html.Label("Confirm Password:")
  @Html.PasswordFor(user=> user.ConfirmPassword)<br>

  <input type="submit" value="Register" class="btn btn-info"/>
}