@{
    Layout = "_Layout";
}

@model PierresTreats.Models.Flavor

@if(@Model.Treats.Count == 0)
{
    <h2>This flavor doens't contain any treats.</h2>
    <hr />
}
else
{
    <h3>Treats under @Html.DisplayFor(model => model.Name) flavor</h3><br>
    <ul>
        @foreach(var join in Model.Treats)
        {
            <li>🔸@join.Treat.Name</li>
            <hr />
        }
    </ul>
}

<div class="link-container">
    <p>@Html.ActionLink("Back to Flavor List", "Index")</p>
    <p>@Html.ActionLink("Edit this Flavor", "Edit", new { id = Model.FlavorId})</p>
    <p>@Html.ActionLink("Add Treat to this Flavor", "Create", "Treats", new { id = Model.FlavorId})</p>
    <p>@Html.ActionLink("Delete this Flavor", "Delete", new { id = Model.FlavorId})</p>
</div>